body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0000ff;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 640px;
    margin: 20px auto;
}

.tile {
    width: 150px;
    height: 150px;
    background-color: #333;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
}

.tile.revealed {
    pointer-events: none;
    opacity: 1;
}
