body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 640px;
    margin: 20px auto;
}

.tile {
    width: 150px;
    height: 150px;
    background-color: #333;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.tile.revealed {
    pointer-events: none;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}
